<nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand">
        <img src="images/My_Little_Pony_logo.png" alt="Logo" class="navbar-logo">
    </a>
    <div id="navbarNav" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listOfPonis">Personajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/formulario">¿Qué tipo de Pony eres?</a>
            </li>
        </ul>
    </div>
</nav>