<!-- <p>¡Hola jiji! 💕</p> -->
<p class="titulo">🌈 ¡Bienvenidos al Mundo de My Little Pony! 🦄</p>
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <p style="width: 50%; margin: 0 auto;">
            Sumérgete en la magia de Equestria y descubre a tus ponis favoritos.
            Explora los personajes, sus historias y encuentra cuál de ellos se parece más a ti
            con nuestro divertido cuestionario interactivo.
        </p>
    </div>
</div>
<br>
<table class="custom-table">
    <tr>
        <td>
            <p>🦄 Conoce a los Personajes</p>
            <p>Descubre los ponis más icónicos de My Little Pony:</p>
            <ul>
                <li>🌟 Twilight Sparkle – La princesa del conocimiento y la magia.</li>
                <li>🌈 Rainbow Dash – La pegaso más veloz y leal.</li>
                <li>🍎 Applejack – La poni trabajadora y sincera.</li>
                <li>🎀 Rarity – Elegancia y creatividad en cada detalle.</li>
                <li>🎉 Pinkie Pie – ¡La fiesta y la alegría nunca terminan!</li>
                <li>🦋 Fluttershy – Dulzura y amor por los animales.</li>
            </ul>
        </td>
        <td>
            <p>🎭 ¿Qué tipo de pony eres?</p>
            <p>Haz nuestro cuestionario interactivo y descubre qué poni de Equestria se parece más a ti.</p>
            <p>🔹 Responde preguntas sobre tu personalidad y preferencias.</p>
            <p>🔹 Obtén tu resultado con una descripción detallada.</p>
            <p>🔹 ¡Comparte tu resultado con tus amigos!</p>
            <p>📢 ¡Empieza ahora y encuentra a tu alma gemela en Equestria!</p>
        </td>
    </tr>
</table>

<img title="Ponis" class="ponis" src="/images/losPonis.png">

<p class="titulo" >🦄 ¡La magia de la amistad te espera! ✨</p>