<div class="container">
  <h2>🌈 ¡Descubre qué Pony de Equestria eres! 🦄</h2>
  
  <form [formGroup]="formulario" (ngSubmit)="adivinarPersonaje()">
    
    <div>
      <label for="colorFavorito">🎨 ¿Cuál es tu color favorito?</label>
      <input id="colorFavorito" formControlName="colorFavorito" type="text" />
      <small class="error" [hidden]="!(formulario.get('colorFavorito')?.invalid && formulario.get('colorFavorito')?.touched)">
        🌟 Este campo es obligatorio.
      </small>
    </div>

    <div>
      <label for="fruta">🍎 ¿Qué fruta te gusta más?</label>
      <input id="fruta" formControlName="fruta" type="text" />
      <small class="error" [hidden]="!(formulario.get('fruta')?.invalid && formulario.get('fruta')?.touched)">
        🌟 Este campo es obligatorio.
      </small>
    </div>

    <div>
      <label for="habilidad">✨ ¿Cómo te describes según las opciones?</label>
      <input id="habilidad" formControlName="habilidad" type="text" />
      <small class="error" [hidden]="!(formulario.get('habilidad')?.invalid && formulario.get('habilidad')?.touched)">
        🌟 Este campo es obligatorio.
      </small>
    </div>

    <button type="submit" [disabled]="formulario.invalid">🌟 Adivinar 🦄</button>
  </form>

  <div [hidden]="!mostrarResultado">
    <h3>🎉 {{ resultado }} 🎠</h3>
  </div>
</div>